<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web700 | Home Page</title>
</head>
<body>
    <h1>Welcome to WEB700 HTML class</h1> 
    <a href="/index.html">Home</a> | 
    <a href="/orders.html">Orders</a> | 
    <a href="/media.html">Media</a> |
    <a href="/aboutus.html">About Us</a>

    <h2 style="background-color: red;">Heading 2</h2> 
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <div style="background-color: red;">
        Testing div
        <div>
            another div
        </div>
        <p>Para 1 <p>Para 11</p> Para 1 End </p>
    </div>


    <div>
        Testing div
        <div>
            another div
        </div>
        <p style="background-color: red;">Para 1
        <p>Para 11</p> Para 1 End </p>
    </div>
    <h2>Order List</h2>
    <ol>
        <li>Canada</li>
        <li>Sri Lanka</li>
        <li>China</li>
    </ol>

    <ol type="A" start="4">
        <li>Canada</li>
        <li>Sri Lanka</li>
        <li>China</li>
    </ol>

    <h2>Unorder List</h2>
    <ul>
        <li>Toronto</li>
        <li>New York</li>
        <li>Mumbai</li>
    </ul>

    <ul type="circle">
        <li>Toronto</li>
        <li>New York</li>
        <li>Mumbai</li>
    </ul>
</body>
</html>