<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords", content="btt, web700">
    <title>Multimedia Page</title>
</head>
<body>
    <h1>Media Examples</h1>
    <a href="/index.html">Home</a> |
    <a href="/orders.html">Orders</a> |
    <a href="/media.html">Media</a> |
    <a href="/aboutus.html">About Us</a>

    <!-- External image URL, use full width of browser window -->
    <img height="200" width="100%"   src="https://images.unsplash.com/photo-1502720433255-614171a1835e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=344dfca9dc8cb137a4b1c2c711752bc5"
        alt="Toronto Sign (text)" />
    
    <!-- Local file cat.jpg, limit to 400 pixels wide -->
    <img src="cat.jpg" alt="Picture of a cat" width="400" />

    <!-- No controls, music will just auto-play in the background. Only MP3 source provided -->
    <audio controls src="https://samplelib.com/lib/preview/mp3/sample-15s.mp3" autoplay></audio>
    
    <!-- Audio with controls showing, multiple formats available -->
    <audio controls>
        <source src="song.mp3" type="audio/mp3">
        <source src="song.ogg" type="audio/ogg">
        <p>Sorry, your browser doesn't support HTML5 audio. Here is a <a href="song.mp3">link to the audio</a> instead</p>.
    </audio>

    <!-- External Video File, MP4 file format, show controls -->
    <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" controls></video>
    
    <!-- Local video file in various formats, show with controls -->
    <video width="320" height="240" controls>
        <source src="video.mp4" type="video/mp4" />
        <source src="video.webm" type="video/webm" />
        <p>Sorry, your browser doesn't support HTML5 video</p>
    </video>
</body>
</html>